* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.heading,
.msg,
.choice:hover {
    background-color: #081b31;
}

.heading h1 {
    line-height: 5rem;
}

.choice {
    width: 13rem;
    height: 13rem;
}

img {
    width: 12rem;
    height: 12rem;
}

#user-score,
#comp-score {
    font-size: 4rem;
}

.btnCol {
    color: #081b31;
    background-color: #fff;
    border: 1px solid #081b31;
}

/* Dark Mode Classes */

.dark {
    color: white;
    background-color: #081b31;
}

.darkHead {
    background-color: #222222;
    border-bottom: 1px solid white;
}

.darkMsg {
    border: 1px solid #fff;
    border-radius: 0.5rem;
}

.darkBtn {
    color: #fff;
    background-color: #222;
    border: 1px solid #fff;
    border-radius: 0.4rem;
    padding: 0.5rem;
}

.darkChoice {
    background-color: #333;
}

.darkChoice:hover {
    background-color: white;
}